lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modulesSystem/.idea
YPlayer/replease
YPlayer/other_libs
bae
bae/app.conf
bae/bower.json
bae/config
bae/controllers
bae/dump.rdb
bae/index.js
bae/lib
bae/locales
bae/models
bae/node_modules
bae/package.json
bae/public
bae/server.js
bae/test.coffee
bae/test.js
bae/test.map
bae/test.xlsx
AndroidPlayer/AndroidPlayer.apk
AndroidPlayer/bin-debug/
AndroidPlayer/1.5.8.apk
AndroidPlayer/.actionScriptProperties
AndroidPlayer/Controller.ipa
