<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
    <title>Angular.js nvd3.js Line Chart Directive</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF8">
    <script type="text/javascript" src="../../../components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../../components/jquery-cookie/jquery.cookie.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/d3.js"></script>
    <script src="js/nv.d3.js"></script>
    <script src="js/moment.js"></script>
    <script src="../dist/angularjs-nvd3-directives.js"></script>
    <link rel="stylesheet" href="stylesheets/nv.d3.css"/>

</head>
<body >

<div id="nv3d" ng-app='nvd3TestApp' ng-controller="ExampleCtrl">
    <nvd3-line-chart
        data="exampleData"
        showXAxis="true"
        showYAxis="true"
        tooltips="true"
        useInteractiveGuideLine="true"
        showLegend="true"
        >
    </nvd3-line-chart>

</div>

<script>
    var app = angular.module("nvd3TestApp", ['nvd3ChartDirectives'])
            .controller('ExampleCtrl', function ($scope) {
                $scope.exampleData = [
                    {
                        "key": "Series 1",
                        "values": [
                            [ 1025 , 0] ,
                            [ 1028 , -6.331] ,
                            [ 1030 , -5.957] ,
                            [ 1033 , -11.53] ,
                            [ 1036 , -5.475] ,
                            [ 1038 , 0.5074] ,
                            [ 1041 , -5.532] ,
                            [ 1043 , -5.782] ,
                            [ 1046 , -7.329] ,
                            [ 1049 , -6.709] ,
                            [ 1051 , 0.4424] ,
                            [ 1054 , 7.248] ,
                            [ 1056 , 9.251] ,
                            [ 1059 , 11.34] ,
                            [ 1062 , 14.73] ,
                            [ 1064 , 12.38] ,
                            [ 1067 , 18.43] ,
                            [ 1070 , 19.83] ,
                            [ 1072 , 22.64] ,
                            [ 1075 , 26.74] ,
                            [ 1078 , 29.59] ,
                            [ 1080 , 30.83] ,
                            [ 1083 , 28.05] ,
                            [ 1085 , 29.29] ,
                            [ 1088 , 30.26] ,
                            [ 1091 , 24.93] ,
                            [ 1093 , 24.26] ,
                            [ 1096 , 27.21] ,
                            [ 1099 , 30.80] ,
                            [ 1101 , 36.33] ,
                            [ 1104 , 43.14] ,
                            [ 1107 , 40.55] ,
                            [ 1109 , 42.54] ,
                            [ 1112 , 41.68] ,
                            [ 1114 , 36.37] ,
                            [ 1117 , 40.71] ,
                            [ 1120 , 43.89] ,
                            [ 1122 , 49.79] ,
                            [ 1125 , 47.08] ,
                            [ 1128 , 46.60] ,
                            [ 1130 , 41.56] ,
                            [ 1133 , 47.29] ,
                            [ 1136 , 47.64] ,
                            [ 1138 , 50.78] ,
                            [ 1141 , 52.60] ,
                            [ 1143 , 55.59] ,
                            [ 1146 , 57.92] ,
                            [ 1149 , 53.50] ,
                            [ 1151 , 53.52] ,
                            [ 1154 , 49.84] ,
                            [ 1156 , 54.72] ,
                            [ 1159 , 58.18] ,
                            [ 1162 , 63.90] ,
                            [ 1164 , 69.76] ,
                            [ 1167 , 72.53] ,
                            [ 1170 , 77.99] ,
                            [ 1172 , 78.14] ,
                            [ 1175 , 83.70] ,
                            [ 1177 , 91.14] ,
                            [ 1180 , 98.59] ,
                            [ 1183 , 96.24] ,
                            [ 1185 , 92.32] ,
                            [ 1188 , 97.06] ,
                            [ 1191 , 105.8] ,
                            [ 1193 , 114.3] ,
                            [ 1196 , 103.5] ,
                            [ 1199 , 101.7] ,
                            [ 1201 , 89.84] ,
                            [ 1204 , 86.96] ,
                            [ 1206 , 84.07] ,
                            [ 1209 , 93.17] ,
                            [ 1212 , 103.6] ,
                            [ 1214 , 87.45] ,
                            [ 1217 , 85.80] ,
                            [ 1220 , 93.15] ,
                            [ 1222 , 65.97] ,
                            [ 1225 , 44.58] ,
                            [ 1228 , 36.41] ,
                            [ 1230 , 38.72] ,
                            [ 1233 , 36.69] ,
                            [ 1235 , 30.03] ,
                            [ 1238 , 36.70] ,
                            [ 1241 , 52.19] ,
                            [ 1243 , 56.35] ,
                            [ 1246 , 57.62] ,
                            [ 1249 , 66.65] ,
                            [ 1251 , 70.83] ,
                            [ 1254 , 78.73] ,
                            [ 1256 , 72.37] ,
                            [ 1259 , 81.73] ,
                            [ 1262 , 87.53] ,
                            [ 1264 , 84.32] ,
                            [ 1267 , 90.62] ,
                            [ 1270 , 102.4] ,
                            [ 1272 , 102.7] ,
                            [ 1275 , 90.52] ,
                            [ 1277 , 76.58] ,
                            [ 1280 , 86.54] ,
                            [ 1283 , 81.87] ,
                            [ 1285 , 101.7] ,
                            [ 1288 , 107.9] ,
                            [ 1291 , 106.1] ,
                            [ 1293 , 114.8] ,
                            [ 1296 , 121.6] ,
                            [ 1298 , 133.4] ,
                            [ 1301 , 125.4] ,
                            [ 1304 , 129.7] ,
                            [ 1306 , 128.1] ,
                            [ 1309 , 121.9] ,
                            [ 1312 , 116.7] ,
                            [ 1314 , 88.36] ,
                            [ 1317 , 59.15] ,
                            [ 1320 , 79.79] ,
                            [ 1322 , 75.90] ,
                            [ 1325 , 72.70] ,
                            [ 1327 , 84.93] ,
                            [ 1330 , 93.38]
                        ]
                    }
                ];
                $scope.legendColorFunction = function () {
                    return function (d) {
                        console.log(d);
                        return '#E01B5D';
                    }
                };
            });

    angular.element(document).ready(function () {
        angular.bootstrap(document, ['nvd3TestApp']);
    });
</script>

</body>
</html>