<div class="row" style="padding-left: 15px; padding-right: 15px">
    <input type="text" class="form-control"
           ng-model="Research.name" placeholder="请输入研究的名称"
           tooltip="研究名称"
           style="margin-bottom: 15px"
            >
    <textarea type="text" class="form-control"
              ng-model="Research.intro"
              placeholder="请输入设计指导语"
              tooltip="设计指导语"
              style="margin-bottom: 15px"
            ></textarea>
    <textarea type="text" class="form-control"
              ng-model="Research.thanks"
              placeholder="请输入感谢语"
              style="margin-bottom: 15px"
              tooltip="感谢语"
            ></textarea>
    <div class="col-md-4" style="padding-left: 0">
        <p class="input-group">
            <input type="text" class="form-control" datepicker-popup="{{ format }}"
                   ng-model="Research.begin_date"
                   tooltip="开始日期"
                   placeholder="请选开始日期"
                   datepicker-options="dateOptions"
                   show-button-bar="false"
                   show-weeks="false"
                    />
                  <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i>
                    </button>
                  </span>
        </p>
    </div>
    <div class="col-md-4" style="padding-left: 0">
        <p class="input-group">
            <input type="text" class="form-control" datepicker-popup="{{ format }}"
                   ng-model="Research.end_date"
                   tooltip="截止日期"
                   placeholder="请选截止日期"
                   datepicker-options="dateOptions"
                   show-button-bar="false"
                   show-weeks="false"
                    />
                  <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i>
                    </button>
                  </span>
        </p>
    </div>
    <div class="col-md-4"><label class="checkbox">是否强制用户登录
        <input ng-model="Research.must_loged_in" type="checkbox">
    </label></div>

    <div class="col-md-12" style="padding-left: 0; padding-right: 0">
        <tags-input ng-model="Research.tags"
                    ng-disabled="handling"
                    placeholder="新增标签"
                    min-length="1">
            <auto-complete source="loadTags($query)"
                           min-length="1"
                    ></auto-complete>
        </tags-input>
    </div>
</div>