<script type="text/ng-template" id="clients.html">
    <div class="modal-header row" style="margin-left: 0px;margin-right: 0px;">
        <h3 class="col-md-4">推送客户</h3>
    </div>
    <div class="modal-body" id="c2">
        <div class="row">
            <div class="col-md-6">
                <form class="input-group" ng-submit="search()">
                    <input type="text" class="form-control" ng-model="$parent.searchText"
                           placeholder="请输入客户名称进行检索">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="search()">搜索</button>
                  </span>
                </form>
            </div>
            <div class="col-md-6">
                <tags-input ng-model="$parent.s_tags"
                            placeholder="标签筛选"
                            on-tag-removed="search()"
                            on-tag-added="search()"
                            min-length="1">
                    <auto-complete source="loadTags($query)"
                                   min-length="1"
                            ></auto-complete>
                </tags-input>
            </div>
        </div>

        <div style="height: 300px; border: 1px solid rgb(212,212,212); margin-top: 20px" ng-grid="dataGrid" ></div>

    </div>
    <div class="modal-footer">
        <span style="color: darkred; line-height: 34px; float: left">已选择 {{ $parent.clients.length }} 客户</span>
        <button class="btn btn-primary" ng-click="ok()" ng-disabled="buttonDisabled">确认</button>
        <button class="btn btn-warning" ng-click="cancel()" ng-disabled="buttonDisabled">取消</button>
    </div>
</script>

<div class="row">
    <div class="col-md-4">
        <form class="input-group" ng-submit="search()">
            <input type="text" class="form-control" ng-model="$parent.menuName"
                   placeholder="请输入歌单名称进行检索">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="search()">搜索</button>
              </span>
        </form>
    </div>
    <div class="col-md-4">
        <tags-input ng-model="$parent.s_tags"
                    placeholder="标签筛选"
                    on-tag-removed="search()"
                    on-tag-added="search()"
                    min-length="1">
            <auto-complete source="loadTags($query)"
                           min-length="1"
                    ></auto-complete>
        </tags-input>
    </div>
    <button class="btn btn-primary" style="float: right;margin-right: 15px;" ng-click="add()">新增</button>
</div>

<div style="height: 500px; border: 1px solid rgb(212,212,212); margin-top: 20px" ng-grid="dataGrid" ></div>