<div class="row" id="c11">
    <p class="bg-info col-md-6" ng-if="msg" style="
    padding-left: 10px;
    margin-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
">{{ msg }}</p>
    <button class="btn btn-success" style="float: right;margin-right: 15px;" ng-click="startUpload()" ng-disabled="buttonDisabled">开始上传</button>
    <button id="p11" class="btn btn-primary" style="float: right;margin-right: 15px;" ng-disabled="buttonDisabled">选择文件</button>
    <button class="btn btn-default" style="float: right;margin-right: 15px;" ng-click="back()" ng-disabled="buttonDisabled">返回</button>
</div>

<div style="height: 500px; border: 1px solid rgb(212,212,212); margin-top: 20px" ng-grid="multiGrid" ></div>